<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <!-- <link href="/src/style.css" rel="stylesheet"> -->
</head>
<body class="min-h-screen flex items-center justify-center bg-gray-100">
   <div class="max-w-md w-full  mt-10 p-6 bg-white rounded-lg shadow">

  <form action="/update-profile" method="POST" enctype="multipart/form-data">
    <h1 class="text-2xl font-bold text-center mb-4">Edit profile </h1>
    <input type="text" name="name" value="<%= user.name %>" required>
    <input type="email" name="email" value="<%= user.email %>" required>
    <input type="file" name="profilePicture">
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update profile </button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
